:root {
  --body-font: "Lora", serif;
  --special-font: "Italianno", cursive;
  --clr-text: #012622;
  --clr-body: #fbf5f3;
  --clr-bg-links: #003b36;
  --hor-spacing: 0 2.4rem;
  --ver-spacing: 3.9rem;
}

/*------Global styles------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

.icon-quotes-left:before {
  content: "\e977";
}

body {
  background-color: var(--clr-body);
  width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-height: 500px;
  max-width: 100%; /*TRIYNG TO SEE IF IT WORKS*/
} /*The img never overflow its parent*/

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--hor-spacing);
}

/*------Header------*/
header {
  width: 100%;
}

.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1500;
}

.nav__toggle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1500;
  width: 3rem;
  height: 3rem;
  border: 0;
  outline: none;
  border-radius: 20%;
  padding: 0 0.6rem;
  margin: 1rem 0;
  margin-left: -1.5rem;
  background-color: var(--clr-bg-links);
  cursor: pointer;
  text-align: center;
}

.nav__list {
  list-style: none;
  text-align: center;
  background-color: var(--clr-bg-links);
  padding: 4.4rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1400;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--clr-body);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
}

.hamburger {
  display: block;
  position: relative; /*The main content (line) is relative to the button*/
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.8rem;
  height: 0.2rem;
  background-color: var(--clr-body);
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute; /*Can move the lines created with the pseudo-el*/
  left: 0;
} /*Allows to make the lines visibles*/

.hamburger::after {
  top: -0.6rem;
}

.hamburger::before {
  bottom: -0.6rem;
}

.nav-open .nav__list {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(-90deg) translateX(-6px);
}

/*------Hero section------*/
.hero {
  height: 100vh;
  width: 100%;
  background: url(../images/mobile.webp) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1; /*Permite reducir la distancia entre lineas*/
}

.hero__title {
  font-family: var(--special-font);
  font-size: 8rem;
  letter-spacing: 1px;
}

.hero__text {
  font-size: 2.2rem;
}

/*------Top products section------*/
.top-products-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-text,
.new-products,
.products-ad,
.new-kits {
  margin-top: var(--ver-spacing);
}

.new-products,
.new-kits {
  position: relative;
  z-index: 1100;
  max-width: 50rem;
  width: 100%;
}

.new-products-description,
.new-kits-description {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  text-align: center;
  background: rgba(251, 245, 243, 0.5);
  height: auto;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
}

.products-text__title,
.products-ad__title,
.new-products-description__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.new-products-description__link,
.new-kits-description__link {
  font-size: 1.4rem;
  color: var(--clr-text);
  margin-top: 2rem;
}

.new-products-description__link:hover,
.new-kits-description__link:hover {
  text-decoration: underline;
}

.products-text {
  min-height: 22rem;
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #43a7a3;
  color: var(--clr-body);
}

.products-text::before {
  content: "";
  height: 0.2rem;
  width: 10rem;
  background-color: var(--clr-body);
  margin-bottom: 2rem;
}

.products-text::after {
  content: "";
  height: 0.2rem;
  width: 10rem;
  background-color: var(--clr-body);
  margin-top: 2rem;
}

.products-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--clr-bg-links);
  height: 20rem;
  max-width: 20rem;
  width: 100%;
  padding: 2rem;
  color: var(--clr-body);
}

.products-text__link {
  color: var(--clr-body);
  font-size: 1.4rem;
  padding-top: 1rem;
}

.products-text__link:hover {
  color: var(--clr-bg-links);
}

.products-ad__text {
  padding-top: 0.8rem;
}

.new-products-description__text {
  font-size: 1.4rem;
}

.new-kits-description__text {
  font-family: var(--special-font);
  font-size: 2.8rem;
  letter-spacing: 1px;
}

/*------About Us section------*/
.about-us {
  background: #fbecd2;
  color: var(--clr-text);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us__title {
  font-family: var(--special-font);
  font-size: 2.8rem;
  letter-spacing: 1px;
  margin-top: var(--ver-spacing);
}

.about-us__text {
  text-align: center;
  margin-top: var(--ver-spacing);
  width: 100%;
  max-width: 900px;
}

.about-us__link {
  font-size: 1.4rem;
  padding-top: 1rem;
  margin-top: var(--ver-spacing);
  color: var(--clr-bg-links);
}

.about-us__link:hover {
  text-decoration: underline;
}

/*------Follow-us section------*/
.follow-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-us__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: var(--ver-spacing);
  text-align: center;
}

.follow-us__img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  /* grid-template-rows: repeat(3, 1fr); */
}

.follow-us__img-item {
  max-width: 30rem;
  height: 20rem;
  max-height: 40rem;
}

/*------Testimonials section------*/
.testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials__title {
  font-family: var(--special-font);
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.testimonial__quote {
  margin-top: var(--ver-spacing);
}

.material-icons {
  color: #43a7a3;
  font-size: 3rem;
}

.testimonial__quote-text {
  padding: 0 2rem 2rem;
}

.testimonial__quote-author {
  font-size: 2rem;
  font-family: var(--special-font);
  font-weight: 200;
}

/*------Footer------*/
.footer {
  padding: 3.9rem 0;
  background-color: #43a7a3;
  color: var(--clr-body);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form label {
  padding: 1rem 0;
}

.footer__form input {
  background-color: #43a7a3;
  border: none;
  border-bottom: 1px solid var(--clr-body);
  outline: none;
}

.footer__form input::placeholder {
  color: #74c5c4;
  font-size: 1.2rem;
  text-align: center;
}

.footer__form span {
  font-size: 1.4rem;
}

.footer__form-button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--clr-body);
  background-color: #43a7a3;
  color: var(--clr-body);
  font-weight: 700;
  font-family: var(--body-font);
  letter-spacing: 1.6px;
  outline: none;
}

.footer__form-button:hover {
  background-color: var(--clr-bg-links);
  border: none;
}

.footer__text {
  font-size: 1.2rem;
  margin-top: var(--ver-spacing);
}

.footer__link {
  color: var(--clr-body);
}

.footer__link:hover {
  color: var(--clr-bg-links);
}
