.nav__toggle {
  display: none;
}

.nav {
  width: 100%;
}

.nav__list {
  width: 100%;
  height: inherit;
  background-color: transparent;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  transform: initial;
  transition: initial;
}

.nav__item {
  margin: 0;
}

.nav__item a {
  color: var(--clr-text);
  font-weight: 700;
}

.nav__item a:hover {
  border-bottom: 2px;
}

.hero {
  background: url(../images/bg-tablet.webp) center no-repeat;
  background-size: cover;
}

.follow-us__img-container {
  grid-template-columns: repeat(3, 1fr);
}

.testimonials-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial__quote {
  max-width: 500px;
}
